<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Студия Дизайна Черешня</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <img class="logo" !important src="/static/img/cherry.png" alt="logo">
            <ul class="menu">
                <li><a href="/contacts">Контакты</a></li>
                <li><a href="/catalog">Каталог товаров</a></li>
                <li><a href="/">Главная</a></li>
            </ul>
            <div class="text_header">Студия Дизайна <br>Черешня <br> 8 800 200 45 45</div>
        </div>

        <div class="content">
            <div class="main_header">
                Шкатулки с дизайнирской отделкой
            </div>
            <div class="img_goods">
                <div class="goods1">
                    <a href="/static/img/Box3.jpeg" target="_blank"><img src="/static/img/Box3.jpeg" title="Шкатулки" width="180" height="150" alt="Boxes"></a>
                </div>
                <div class="goods2">
                    <a href="/static/img/Box4.jpeg" target="_blank"><img src="/static/img/Box4.jpeg" title="Шкатулки" width="180" height="150" alt="Boxes"></a>
                </div>
                <div class="goods3">
                    <a href="/static/img/Box6.jpeg" target="_blank"><img src="/static/img/Box6.jpeg" title="Шкатулки" width="180" height="150" alt="Boxes"></a>
                </div>
                <div class="goods4">
                    <a href="/static/img/Box8.jpeg" target="_blank"><img src="/static/img/Box8.jpeg" title="Шкатулки" width="180" height="150" alt="Boxes"></a>
                </div>
            </div>
            <div class="text_description_goods">
                <div class="header1">
                    Краткое описание товара
                </div>
                <div class="text">
                    Элегантный сейф для ваших сокровищ.
                </div>
                <div class="header1">
                    Подробное описание товара :
                </div>
                <div class="text">
                    И браслетам и колечкам <br> Для всего найдем местечко!!!
                    <br> Подходи и не скупись - покупай живопись!
                </div>
            </div>
            <div class="button">
                <form action="URL">
                    <fieldset>
                        <input type="button" value="Купить">
                    </fieldset>
                </form>
            </div>
            <div class="table">
                <table class="teh_characteristiks">
                    <tr>
                        <td class="1_row_TC" colspan="2">
                            <h2 class="header2">Технические характеристики изделия :</h2>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p class="name_of_characteristics">
                                Размеры
                            </p>
                        </td>

                    </tr>
                    <tr>

                        <td>
                            <p class="name_value_characteristics">
                                Длина:
                            </p>
                        </td>
                        <td>
                            <p class="value_characteristics">
                                300 мм
                            </p>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <p class="name_value_characteristics">
                                Ширина:
                            </p>
                        </td>
                        <td>
                            <p class="value_characteristics">
                                180 мм
                            </p>
                        </td>

                    </tr>
                    <tr>

                        <td>
                            <p class="name_value_characteristics">
                                Высота:
                            </p>
                        </td>
                        <td>
                            <p class="value_characteristics">
                                120 мм
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p class="name_of_characteristics">
                                Материал изделия:
                            </p>
                        </td>

                    </tr>
                    <tr>

                        <td>
                            <p class="name_value_characteristics">
                                Материал изделия:
                            </p>
                        </td>
                        <td>
                            <p class="value_characteristics">
                                Дерево
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="footer">
            Все права защищены &copy; Viktor Sotnikov
        </div>

    </div>
</body></html>
