<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Студия Дизайна Черешня</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <img class="logo" !important src="/static/img/cherry.png" alt="logo">
            <ul class="menu">
                <li><a href="/contacts">Контакты</a></li>
                <li><a href="/catalog">Каталог товаров</a></li>
                <li><a href="/">Главная</a></li>
            </ul>
            <div class="text_header">Студия Дизайна <br>Черешня <br> 8 800 200 45 45</div>
        </div>
        <div class="content">
            <div class="main_header">
                Товары Дизайн студии Черешня!
            </div>
            <div class="card_goods">
                <div class="img_goods">
                    <a href="/catalog/boxes"><img src="/static/img/Box4.jpeg" title="Designer boxes" width="200" height="180"></a>
                </div>
                <div class="link_to_product">
                    <a href="/catalog/boxes"><h3>
                    Шкатулки
                </h3> </a>
                </div>
            </div>
            <div class="card_goods">
                <div class="img_goods">
                    <a href="/catalog/hanger"><img src="/static/img/Hanger4.jpeg" title="Hanger for Accessories" width="200" height="180"></a>
                </div>
                <div class="link_to_product">
                    <a href="/catalog/hanger"><h3>
                    Держатели сережек
                </h3></a>
                </div>
            </div>
        </div>       
        <div class="footer">
            Все права защищены &copy; Viktor Sotnikov
        </div>

    </div>
</body></html>
