<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Студия Дизайна Черешня</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <img class="logo" !important src="/static/img/cherry.png" alt="logo">
            <ul class="menu">
                <li><a href="/contacts">Контакты</a></li>
                <li><a href="/catalog">Каталог товаров</a></li>
                <li><a href="/">Главная</a></li>
            </ul>
            <div class="text_header">Студия Дизайна <br>Черешня <br> 8 800 200 45 45</div>
        </div>

        <div class="content">
            <div class="ask_form">
                <h1 class="header1">Студия дизайна Черешня</h1>
                <form action="URL">
                    <fieldset>
                        <legend>Форма обратной связи:</legend>
                        <p>
                            Ваше имя
                            <input type="text" size="30" placeholder="Введите Ваше Имя"><br>
                        </p>
                        <p>
                            Ваша фамилия
                            <input type="text" size="30" placeholder="Введите Вашу Фамилию"><br>
                        </p>
                        <p>
                            Ваш пол <br>
                            M <input type="radio"> Ж <input type="radio">
                        </p>
                        <p>
                            Ваша эл.почта
                            <input class="input_email" type="text" size="30" placeholder="ivanov@ivan.ru"><br>
                        </p>
                        <p>
                            Ваш телефон
                            <input type="text" size="30" placeholder="+79171112233"><br>
                        </p>

                        <textarea name="letter" id="" cols="100" rows="8"></textarea> <br>
                        <input type="submit" value="Отправить">
                        <input type="reset" value="Очистить поля">
                    </fieldset>
                </form>
            </div>
            <div class="contact">
                <h2 class="header2">Контакты</h2>
                <ul class="full_description">
                    <li>Адрес: РФ, Москва, Рублевское ш., 21</li>
                    <li>Телефон: 8 800 200 47 12</li>
                    <li>e-mail: info@ds-cherry.com</li>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6354.423594615805!2d37.455085396032295!3d55.730216635448194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54ebae72cae25%3A0xc7e546f38eb82a8a!2z0KDRg9Cx0LvRkdCy0YHQutC-0LUg0YguLCAyMSwg0JzQvtGB0LrQstCwLCAxMjExMDg!5e0!3m2!1sru!2sru!4v1554230191833!5m2!1sru!2sru" width="100%" hight="374px" frameborder="0" style="border:0" allowfullscreen></iframe>
                </ul>
            </div>
        </div>
        <div class="footer">
            Все права защищены &copy; Viktor Sotnikov
        </div>

    </div>
</body></html>
