{% extends 'mainapp/base.html' %}

{% block content %}
     <div class="main_img">
                <img src="/static/img/works1.png" height="300px" alt="Черешня">
            </div>
            <div class="main_header">
                Привет, мы Студия Дизайна Черешня
            </div>
            <div class="text">
                <p>Нам&nbsp;очень нравится дизайнировать разные штуки. Еще мы любим делать докупаж на любые поверхности. Надо чтоб Ваш стул обрел 2 жизнь и заиграл новыми красками - Вам к нам. Хотите сделать себе подарок и подарить шкатулку с экслюзивным дизайном - Вам к нам. Вам очень нравятся сережни и вас их целые горы - мы поможем Вам - У нас есть эксклюзивные вешалки для ващих сережек. <br>
                    Стильные аксессуары ручной работы и другие наши работы можно посмотреть тут: <a href="https://www.instagram.com/vs.cherry_md/">Instagram</a>
                </p>
            </div>
{% endblock %}

